table {
    div.plugin-activate-deactivate {
        display: flex;
        align-items: center;
        label.activate, label.deactivate {
            display: flex;
            align-items: center;
            padding: 5px;
        }
        label.activate {
            margin-right: 5px;
            background: rgba(0, 128, 0, 0.1);
        }
        label.deactivate {
            background: rgba(255, 0, 0, 0.1);
        }
        input[type=radio] {
            margin: 0 5px 0 5px;
        }
    }
    tr.disabled {
        pointer-events: none;
        opacity: 0.75;
    }
}
.nav-tab.active-profile {
    position: relative;
    &::after {
        display: block;
        position: absolute;
        bottom: 5px;
        left: 5px;
        right: 5px;
        height: 1px;
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(53,113,52,1) 50%, rgba(0,0,0,0) 100%);
        content: '';
        border-radius: 50%;
    }
}
